<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="DATA SOURCE=localhost:1521/XE;USER ID=LABORATORIOBD;PASSWORD=12Dionisio**"
         providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>